.main {
  width: 100%;
  height: 100%;  
  margin: 0;
  display: grid;
  grid-template-columns: auto 1fr;  
}

.yaml {
  background-color: #242D40;
  color: #D95A2B;
  padding: 24px;
  margin: 0;
  font-size: 14px;
}